*{
  margin: 0; padding: 0;
  list-style: none;
  outline: 1px #FF3369 solid;
}
body{
  color: #565656;
}
.row {
    width: 1200px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    position: relative;
}
h1{
  font-size: 45px;
  font-family: "SaBo";
  line-height: 50px;
  color: #000;
  padding: 30px 0px;
}
a{color: #000; text-decoration: none;}
a,button,.vc_tta-icon,div.more>span,i{cursor: pointer;}

.desc{width: 50%;}

.btn_group{margin: 10px 0 20px 0;}
.btn_group button{
  height: 45px;
  border: #FFF;
  padding: 6px 12px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.42857143;
  margin-bottom: 20px;
}

.caret{
  width: 0; height: 0;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
}



  /*gnb*/
  .gnb{
    background-color: #fced23;
    padding: 20px;
  }
  .gnb>a{
    margin-top: 10px;
    margin-left: 68px;
    height: 63px;
  }

  /*gnb_list*/
  .gnb ul{
    float: right;
    width: 600px;
    font-size: 18px;
    font-weight: bold;
  }
  .gnb li{
    float: left;
    height: 86px;
    line-height: 66px;
    margin-left: 20px;
    font-size: 18px;
    overflow: hidden;
  }




  /*fadebanner*/
  .fadebanner{
    width: 100%;
    /*height: 600px;*/
    position: relative;
  }
  .fadebanner ul{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size:0
  }
  .fadebanner li{
    display: inline-block;
  }
  .fadebanner li img{
    position: absolute;
    left: 0;
    top: 0;
  }
  .fadebanner li a{
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    top: 550px;
    z-index: 1;
    display: block;
    margin: 0 2px 0 1px;
  }
  .fadebanner button{position: absolute; top: 0;}
  .fadebanner button.prev{
    left: 0; top: 50%;
    transform: matrix(1, 0, 0, 1, 30, -20);
    padding-right: 4px;
  }
  .fadebanner button.next{
    right: 0; top: 50%;
    transform: matrix(1, 0, 0, 1, -70, -20);
    padding-left: 4px;
  }
  .fadebanner button{
    width: 40px; height: 40px;
    border-radius: 50%;
    font-size: 20px;
    border: 0;
    display: none;
  }



  /*Om oss*/
  #om{
    padding-left: 10px;
    margin-bottom: 60px;
  }
  .om_txt{
    width: 75%;
  }
  .om_txt h1, .om_txt p{
    margin-bottom: 14px;
  }
  .om_txt+a>i{
    margin-left: 14px;
  }




  /*aktuellt*/
  #aktuellt{
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  #aktuellt .row{color:#FFF;}
  .aktuellt_wrap{ padding: 0 10px 10px 10px; height: 718px;}
  .aktuellt_wrap a{ color: #FFF;}
  .aktuellt_wrap a{text-decoration: underline; font-size: 14px;}
  .aktuellt_wrap .desc{
    width: 382px; height: 584px;
    padding: 5px;
    float: left;
    overflow: hidden;
  }
  .aktuellt_wrap .desc h3{padding-top: 15px;font-size:20px;}
  .aktuellt_wrap .desc img{width: 100%;}
  .aktuellt_wrap .desc p{font-size: 14px;}
  .aktuellt_wrap+.more{
    text-align: center;
    font-family: sabo;
    font-size: 18px;
    height: 80px;
  }
  .aktuellt_wrap+.more>span:hover{opacity: 0.7;}
  .aktuellt_wrap+.more>span>i{padding-left: 5px;}



  /*projekt*/
  #projekt{
    margin-top: 30px;
    padding-bottom: 60px;
  }
  #projekt p{line-height: 24.99px; font-size: 14px;}
  #projekt .btn_group{margin: 10px 0 20px 0;}
  #projekt .btn_group button{ background-color: #000; color: #FFF;}

  #projekt button{
    background: #FFF;
    border: 0px;
    font-size: 14px;
    height: 45px;
    border: #FFF;
    padding: 6px 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.42857143;
    margin-bottom: 20px;
  }
  #projekt .btn_group button:first-child{background: #dbdbdb; color:#000;}
  #projekt .btn_group button:nth-child(n+2):hover{opacity: 0.8;}
  #projekt div:last-child{width: 100%; text-align: center;}



  /*projekt_article*/
  .projekt_article{
    overflow: hidden;
    height: 920px;
    transition: height 250ms ease-out;
  }
  .projekt_article img{width: 25%; float:left;}
  .projekt_article a{display: none;}



  /*job*/
  #job{
    background: url("../img/job.jpg") center;
    padding-top: 30px;
    padding-bottom: 60px;
    background-size: cover;
  }
  #job .row{min-height: 600px;}
  #job .row p{padding-bottom: 14px;}
  #job .row i{margin-left: 14px;}

  #job .btngroup button{
     background-color: #0c0c0c;
  }
  #job .btngroup button:hover{
    color: #000;
    background: #dbdbdb;
  }



  /*Kontakt*/
  #kontakt{padding-top: 60px;}
  #kontakt button{font-size: 14px;}

  #kontakt .desc:first-child{float: left;}
  #kontakt h4, #kontakt h5{
    font-size: 18px;
    margin-bottom: 14px;
  }
  #kontakt .map{
    padding: 20px 74px 50px 10px;
    height: 330px;
    background-color: #00F;
    margin-left: 600px;
  }




  /*footer*/
  .footer{
    background: #000;
    padding-top: 70px;
    color: #FFF;
  }
  .footer .row{
    text-align: center;
    padding-bottom: 30px;
  }
  .footer .row div{
    font-size: 12px;
    margin: 15px 0;
  }
