
  /* content */
  #content{
    width: 65%;
    /*width: 1280px;*/
    margin: 0 auto;
    padding-bottom: 15px;
  }

/******************************************************************************/

  /* biography */
  #biography{
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
  #biography h1{
    margin-top: 70px;
    margin-bottom: 80px;
  }

  .biography_txt{
    font-size: 14px;
    font-family: 'Abel';
  }
  .biography_txt p{
    margin-bottom: 0.65rem;
    color: #FFF;
    line-height: 1.6;
  }

  /* emblem */
  .emblem{
    text-align: center;
    margin-top: 50px;
  }

/******************************************************************************/
