  *{
    margin: 0; padding: 0;
    outline: 1px #F72F02 solid;
  }

  body{color: #FFF;}

  #container{
    background-color: #000;
  }

  ul{list-style:none;}

  a{text-decoration: none;}

  a,.btn,.play_btn,.download_btn,#plus,.fa-volume-up,input[type=range],input[type=submit],#fap-cover-replacement{cursor: pointer;}

  .yel{color: #fcbe46; text-align: center;}

  .fix{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .play_btn{
    background-color: #303030;
    color: #FFF;
  }
  .btn,.download_btn{
    background-color: #fcbe46;
  }

/******************************************************************************/

  /* gnb */
  .gnb_wrap{
    height: 95px;
    background-color: #000;
    z-index: 101;
  }
  #gnb{
    /*width: 65%;*/
    width: 1280px;
    margin: 0 auto;
  }
  #gnb img{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
  }
  #gnb ul{
    float: right;
    height: 60px;
    padding-right: 15px;
  }
  #gnb li{
    float: left;
    margin-right: 40px;
  }
  #gnb li:nth-child(3){
    text-transform: uppercase;
  }
  #gnb li:last-child{
    margin-right: 0;
    text-transform: lowercase;
  }

  #gnb > li > a:visited {
    color: #fcbe46;
  }

  #gnb> li > a:link {
      color: #fcbe46;
  }

  #gnb a{
    color: #fcbe46;
    outline: 0;
    /*-webkit-tap-highlight-color: transparent;*/
  }
  #gnb a:hover{
    color: #5a5a5a;
  }

/******************************************************************************/

  /* transition */
  a:hover,.show_title,#gnb{
    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .btn_hover:hover,.download_hover:hover{
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }

  #itunes li:hover,#purchase_album li:hover,input[type=submit]:hover,#icon_group a:hover{
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

/******************************************************************************/



  #player_wrap{
    width: 100%;
    max-width: 100%;
    height: 170px;
    /*bottom: -100px;*/
    bottom: -171px;

    background: rgb(252, 190, 70);
    border-color: rgb(252, 190, 70);

    position: fixed;
    z-index: 10000;
    font-family: Helvetica, sans-serif;
  }
  #player_wrap *{color: #000;}

  #player{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding-top: 5px;
    line-height: 12px;
    font-size: 14px;
  }

  #plus{
    background: rgb(252, 190, 70);
    border-bottom: none;
    border: 1px solid rgb(252, 190, 70);

    font-size: 10px;
    display: inline-block;

    position: relative;
    top: -24px;
    left:  -7.6%;;

    height: 16px;
    padding: 1px 7px 0;
    text-align: center;
  }
  #player .left{
    width: 70%;
    height: 60px;
    float: left;
  }
  #fap-cover-wrapper{
    /*height: 100%;*/
    float: left;
  }
  #fap-cover-replacement{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    font-size: 18px;
  }
  #fap-cover-replacement>span{
    line-height: 50px;
    color: #bc861e;
  }






  #player .right{
    width: 30%;
    height: 70px;
    float: right;
  }

  #player-control{
    width: 85%; height: 100%;
    float: left;
    position: relative;
  }
  #player-control a{
    position: absolute;
  }
  .fa.fa-backward,.fa.fa-forward {
    top: 14px;
  }
  .fa.fa-play{
    font-size: 34px;
    left:24px;
    top: 2px;
  }
  .fa.fa-forward{
    left: 60px;
  }

  #volume{
    width: 72px; height: 9px;
    position: relative;
    top: 20px;
    left: 172px;
  }
  input[type=range] {
      -webkit-appearance: none;
      width: 50px;
      height: 6px;
      background: #000;
      float: left;
      border: 1px solid #bc861e;
      position: absolute;
  }

  input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #bc861e;
      width: 10px;
      height: 6px;
      opacity: .7;
  }

  /*.fap-volume-bar{
    width: 50px;
    height: 6px;
    background: #000;
    float: left;
    border: 1px solid #bc861e;
    position: absolute;
  }*/
  .fap-volume-sign{
    width: 14px; height: 12px;
    float: right;
    margin-top: -3px;
    margin-left: 5px;
    position: relative;
  }

  #fap-time-bar{
    height: 6px;
    font-size: 10px;
    position: relative;
    bottom: -33px;
    border: 1px solid #bc861e;
    color: #bc861e;
  }
  .fap-loading-bar{
    background: rgb(188, 134, 30);
    /*width: 0px;*/
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
  }
  #fap-time-bar span{
    margin-top: 8px;
    color: #bc861e;
  }
  #fap-current-time{
    float: left;
  }
  #fap-total-time{
    float: right;
  }



  #control{
    float: right;
  }
  #control a{
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    text-align: center;
  }
