  *{
    margin: 0; padding: 0;
    /*outline: 1px #95F9EF solid;*/
  }

  body{color: #FFF;}

  html{
    background-color: #000;
  }

  ul{list-style:none;}

  a{text-decoration: none;}

  .yel{color: #fcbe46; text-align: center;}

  .fix{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .btn{
    background: #fcbe46;
    /*height: 38px;*/
    font-size: 10px;
    width: 76px;
    padding: 13px 30px;
  }

  .play_btn{
    background-color: #303030;
    color: #FFF;
  }
  .download_btn{
    background-color: #fcbe46;
  }

/******************************************************************************/



/******************************************************************************/

  /* gnb */
  .gnb_wrap{
    height: 95px;
    background-color: #000;
    z-index: 101;
  }
  #gnb{
    /*width: 65%;*/
    width: 1280px;
    margin: 0 auto;
  }
  #gnb img{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
  }
  #gnb ul{
    float: right;
    height: 60px;
    padding-right: 15px;
  }
  #gnb li{
    float: left;
    margin-right: 40px;
  }
  #gnb li:nth-child(3){
    text-transform: uppercase;
  }
  #gnb li:last-child{
    margin-right: 0;
    text-transform: lowercase;
  }

  #gnb > li > a:visited {
    color: #fcbe46;
  }

  #gnb> li > a:link {
      color: #fcbe46;
  }

  #gnb a{
    color: #fcbe46;
    outline: 0;
    /*-webkit-tap-highlight-color: transparent;*/
  }
  #gnb a:hover{
    color: #5a5a5a;
  }

/******************************************************************************/

  /* transition */
  a:hover,.show_title,#gnb{
    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .btn_hover:hover,.download_hover:hover{
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }

  #itunes li:hover,#purchase_album li:hover,input[type=submit]:hover,#icon_group a:hover{
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
