* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.wrap {
  width: 900px;
  height: 540px;
  border: 1px #00f solid;
}
.wrap .top {
  margin: 0 30px 10px;
  height: 110px;
  border: 1px #00f solid;
}
.wrap .bottom {
  height: 382px;
  border: 1px #00f solid;
}
