*{
  margin: 0; padding: 0;
  outline: 1px #0EA2EC solid;
}
body{color: #FFF;}

ul{list-style:none;}

a{text-decoration: none;}

/******************************************************************************/

  .sidebar{
    width: 150px;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.71em;
    overflow: hidden;
  }

/******************************************************************************/

  .wrapper{
    /*margin-left: 150px;*/
    margin-left: 190px;
    border-left: 2px solid #FBFBFC;
  }

  .content{
    width: 100%;
    margin: 0 auto 50px auto;
  }
