*{
  margin:0; padding:0;
  list-style: none;
  text-decoration: none;
  /*outline: 2px #f08080 solid;*/
}
body{
  font-size: 14px;
  font-family: 'GillSansLightRegular';
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
}
a{color: #b8babb;}
a:hover{color: #9a9e9c;}



/* panel_left ******************************************************/
.panel_left{
  width: 312px; height: 100%;
  position: fixed;
  /*position: device-fixed;*/
  top: 0; left: 0;
  background-color: #F8F9F8;
  border-right: solid 1px #FCFCFC;
  /*float: left;*/
}
.logo{
  position: relative;
  top: 20%;
}
.menu{
  position: relative;
  top: 40%;
}
.menu li{
  margin-bottom: 1.5%;
}
/*.menu li a{
  color: #b8babb;
}
.menu li a:hover{
  color: #9a9e9c;
}*/


/* menu_bottom ******************************************************/
.menu_bottom{
  /*position: relative;
  top: 60%;*/
  width: 100%;
  position: absolute;
  bottom: 35px;
}
.menu_bottom div{
  margin-bottom: 15px;
}
.menu_bottom ul:first-child li{
  font-size: 11px;
  line-height: 15px;
}
.icons li{
  /*float: left;*/
  display: inline;
}



/* panel_right ******************************************************/
.panel_right{
  margin-left: 312px;
  /*width: 1591px; height: auto;*/
  /*width: 75.16%;
  float: left;
  position: relative;
  margin-left: 24.84%;
  top: 0;*/
}
.innerImg{
  height: 1060px;
  margin-left: 313px;
  margin-bottom: 50px;
}
.frame{
  height: 1025px;
  border: 1px #FFF solid;
  /*width: 100%;*/
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 18px;
  right: 18px;
  margin-left: 313px;
}
