*{
  margin:0; padding:0;
  list-style: none;
  text-decoration: none;
  /*outline: 2px #f08080 solid;*/
}
body{
  font-size: 14px;
  font-family: 'GillSansLightRegular';
  /*text-transform: uppercase;*/
  line-height: 20px;
  text-align: center;
}
a{color: #b8babb;}
a:hover{color: #9a9e9c;}
.icons, h1, .menu{
  text-transform: uppercase;
}


/* panel_left ******************************************************/
.panel_left{
  width: 312px; height: 100%;
  position: fixed;
  /*position: device-fixed;*/
  top: 0; left: 0;
  background-color: #F8F9F8;
  border-right: solid 1px #FCFCFC;
  /*float: left;*/
}
.logo{
  position: relative;
  top: 20%;
}
.menu{
  position: relative;
  top: 40%;
}
.menu dt{
  margin-bottom: 1.5%;
}
.menu dd{
  color: #929497;
  font-family: "Times New Roman",Times,serif;
  font-style: italic;
  font-size: 12px;
  text-transform: none;
}
.menu dd:last-of-type{
  margin-bottom: 5px;
}
.menu dd a:hover{
  color:  #505a53;
}



/* menu_bottom ******************************************************/
.menu_bottom{
  /*position: relative;
  top: 60%;*/
  width: 100%;
  position: absolute;
  bottom: 35px;
}
.menu_bottom div{
  margin-bottom: 15px;
}
.menu_bottom ul:first-child li{
  font-size: 11px;
  line-height: 15px;
}
.icons li{
  /*float: left;*/
  display: inline;
}



/* panel_right ******************************************************/
.panel_right{
  margin-left: 312px;
}
.innerImg{
  width: 1288px;
  /*height: 1060px;*/
  /*margin-left: 313px;*/
  margin-bottom: 50px;
}
.frame{
  width: 1252px; height: 620px;
  border: 1px #FFF solid;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 18px;
  right: 18px;
  margin-left: 313px;
}

.desc{

}
.desc h1{
  margin-bottom: 25px;
}
.desc p{
  font-size: 14px;
  font-family: 'GillSansLightRegular';
  color: #929497;
  line-height: 20px;
}
