*{
  margin: 0; padding: 0;
  outline: 1px purple solid;
}
body{color: #FFF;}
ul{list-style:none;}
a{text-decoration: none;}
.yel{color: #fcbe46;}
.fix{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn{
  background: #fcbe46;
  /*height: 38px;*/
  font-size: 10px;
  width: 76px;
  padding: 13px 30px;
}
.play_btn{
  background-color: #303030;
  color: #FFF;
}
.download_btn{
  background-color: #fcbe46;
  color: #FFF;
}
h1{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  font-family: 'Megrim';
}
/******************************************************************************/

  #container{
    background-color: #000;
  }

  /* header */
  header{
    background: url("img/album_1901x950.jpg");
    background-position: center top;
    width: 100%;
    height: 950px;
  }

/******************************************************************************/

  /* gnb */
  .gnb_wrap{
    height: 95px;
    background-color: #000;
    /*padding-top: 20px;*/
    font-family: 'Comfortaa';
    font-size: 13px;
  }
  #gnb{
    /*width: 65%;*/
    width: 1280px;
    margin: 0 auto;
  }
  #gnb img{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
  }
  #gnb ul{
    float: right;
    height: 60px;
    text-transform: capitalize;
    padding-right: 15px;
    line-height: 95px;
  }
  #gnb li{
    float: left;
    margin-right: 40px;
  }
  #gnb li:nth-child(3){
    text-transform: uppercase;
  }
  #gnb li:last-child{margin-right: 0;}

/******************************************************************************/

  /* content */
  #content{
    /*width: 65%;*/
    width: 1280px;
    margin: 0 auto;
  }
  #content_logo{
    text-align: center;
    margin-top: 100px; margin-bottom: 240px;
  }

  /* purchase */
  #purchase{
    text-align: center;
    font-family: Montserrat;
    padding-top: 250px;
  }
  #purchase p{
    margin-bottom: 20px;
  }
  #purchase p:nth-of-type(3){
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  /* button */
  #purchase a{color: #000;}

  /* itunes streaming btn */
  #itunes{
    height: 38px;
    text-transform: uppercase;
    margin-left: 40%;
    margin-bottom: 20px;
  }
  #itunes li{
    float: left;
  }

  /* purchase_album btn*/
  #purchase_album{
    height: 38px;
    margin-left: 22%;
    margin-bottom: 30px;
  }
  #purchase_album li{
    float: left;
  }

/******************************************************************************/

  /* soundcloud */
  #soundcloud{
    width: 810px;
    height: 353px;
    margin: 0 auto 300px;
  }

/******************************************************************************/

  /* MV */
  #mv{
    text-align: center;
  }
  #mv span{
    font-weight: 900;
  }

  .studio_box{
    height: 357px;
    margin-top: 160px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .studio{
    /*width: 47%;*/
    width: 610px;
    float: left;
    margin-bottom: 70px;
  }
  .studio:first-of-type{
    padding-right: 15px;
  }
  .studio:last-of-type{
    padding-left: 15px;
  }
  #mv em{
    text-align: center;
    font-size: 110%;
    color: #828282;
    letter-spacing: 5px;
  }

/******************************************************************************/

  /* news */
  #news{
    margin-top: 150px;
    margin-bottom: 120px;
    text-align: center;
  }
  #news h1{
    margin-bottom: 90px;
  }

  .news{
    width: 840px;
    margin: 0 auto;
    overflow: hidden;
  }
  .news_box{
    float: left;
    width: 400px; height: 550px;
    margin-top: 40px;
  }
  .news_box dt:first-of-type{
    width: 400px;
    height: 400px;
  }
  .news_box:nth-child(odd){
    margin-right: 40px;
  }
  .news dd:nth-child(2){
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .news_box p{
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0.65rem;
  }

  .news_box ul{
    margin-top: 10px;
    width: 400px; height: 25px;
    margin: 0 auto;
    text-align: center;
  }
  .news_box li{
    float: left;
  }
  .news_box a{
    border-radius: 4px;
    margin-right: 10px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 25px;
    display: inline-block;
  }

/******************************************************************************/

  /* sns */
  #sns{
    padding-bottom: 100px;
  }
  #sns i{
    font-size: 30px;
  }
  .sns_header{
    margin-bottom: 250px;
  }
  .icon_box{
    width: 96px; height: 60px;
    text-align: center;
  }
  #instagram_box{
    width: 58%; height: 172px;
    float: left;
  }
  #twitter_box{
    height: 172px;
    margin-left: 58%;
    padding: 0 15px;
    text-align: center;
  }
  #twitter_txt{
    margin-top: 30px;
  }

  /* instagram */
  #instagram{
    width: 830px;
    /*margin-top : 100px;*/
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    overflow: hidden;
  }
  #instagram img{
    width: 100%;
    margin-bottom: 1.95rem;
  }

/******************************************************************************/

  /* upcoming show */
  #upcomingshow{
    padding-top: 100px;
    text-align: center;
  }
  #upcomingshow h1{
    margin-bottom: 40px;
  }
  .show_wrap{
    width: 65%;
    margin: 100px auto 150px;
    /*padding: 0 15px;*/
    text-align: left;
    font-family: 'Comfortaa'
  }
  .show_title{
    height: 44px;
    line-height: 44px;
    font-weight: 600;
    font-size: 14px;
  }
  .show_desc{
    display: none;
  }

/******************************************************************************/

  /* news_ */
  .news_{
    width: 840px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }

/******************************************************************************/

  /* icon_group */
  #icon_group{
    padding-top: 100px;
    padding-bottom: 70px;
  }

/******************************************************************************/

  /* footer */
  #footer{
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .footer_logo_box{
    width: 150px; height: 94px;
    overflow: hidden;
    margin: 0 auto;
  }
  .footer_logo_box img{
    width: 100%;
  }
